@model IEnumerable<IntelligentTourGuide.Web.Models.Place>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">List of Places</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.State.StateName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.PlaceId">Edit</a> |
                <a class="btn btn-info"asp-action="Details" asp-route-id="@item.PlaceId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PlaceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
