@model IEnumerable<IntelligentTourGuide.Web.Models.State>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">List of States and UTs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                <a  class="btn btn-primary"asp-action="Edit" asp-route-id="@item.StateId">Edit</a> |
                <a  class="btn btn-info"asp-action="Details" asp-route-id="@item.StateId">Details</a> |
                <a  class="btn btn-danger"asp-action="Delete" asp-route-id="@item.StateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
